.DS_Store
*.m~
*__pycache__
/edu/kspace_explorer_180404.mat
/edu/@kspace_explorer/kspace_explorer.mat
/edu/@kspace_explorer/k-spaceExplorerMacWithRunTime
/edu/@kspace_explorer/k-spaceExplorerWebMac
/edu/@kspace_explorer/k-spaceExplorerWebWin
/edu/@kspace_explorer/k-spaceExplorerWinWithRunTime
/edu/@mrcontrast_explorer/MRContrastExplorerMacWithRuntime
/edu/@mrcontrast_explorer/MRContrastExplorerMacWithRuntime_resources
/edu/@mrcontrast_explorer/MRContrastExplorerWebMac
/edu/@mrcontrast_explorer/MRContrastExplorerWebWin
/edu/@mrcontrast_explorer/MRContrastExplorerWinWithRuntime
/edu/@mrcontrast_explorer/MRContrastExplorerWinWithRuntime_resources
/edu/@mrcontrast_explorer/Thumbs.db
/edu/@mrcontrast_explorer/MRContrastExplorerWin
/edu/@mrcontrast_explorer/MRContrastExplorerMac
/edu/@kspace_explorer/Thumbs.db
/edu/@kspace_explorer/k-spaceExplorerWin
/edu/@kspace_explorer/k-spaceExplorerMac
